@import "global";

/*------------------------------------------------------ row -----------------------------------------------------*/
$row-width: 1240px;
$row-padding: 15px;


.row{
  margin-left: auto;
  margin-right: auto;
  max-width: $row-width;
  padding-left: $row-padding;
  padding-right: $row-padding;
  &-full{
    max-width: 100%;
  }
}

@mixin row-reset {
  margin-left: -$row-padding;
  margin-right: -$row-padding;
}

.col {
  padding-left: $row-padding;
  padding-right: $row-padding;
  margin-bottom: $row-padding * 2;
  max-width: 100%;
}

//.row.large-gap{
//  margin: 0 -40px;
//  & > .col{
//    padding: 0 40px;
//  }
//  & > .col{
//    position: relative;
//    &:after{
//      border-left: $border;
//      border-left-style: dashed;
//      content: '';
//      display: block;
//      height: 100%;
//      position: absolute;
//      top: 0;
//      right: 0;
//    }
//    &:last-child:after{
//      display: none;
//    }
//  }
//}