@import "global";

/*------------------------------------------------------ row -----------------------------------------------------*/
$row-width: 1240px;
$row-padding: 15px;


.row{
  margin-left: auto;
  margin-right: auto;
  max-width: $row-width;
  padding-left: $row-padding;
  padding-right: $row-padding;
  width: 100%;
}

@mixin row-reset{
  margin-left: -$row-padding;
  margin-right: -$row-padding;
}

.flex-wrap {
  @include row-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -$row-padding;
  margin-right: -$row-padding;
  margin-bottom: -$row-padding;
  @include respond-to(medium-up) {
    margin-bottom: -($row-padding * 2);
  }
}

.col {
  padding-left: $row-padding;
  padding-right: $row-padding;
  margin-bottom: $row-padding;
  width: 100%;
  @include respond-to(medium-up) {
    margin-bottom: $row-padding * 2;
  }
}

.flex-center{
  display: flex;
  justify-content: center;
}


$total-columns: 12;
@mixin grid-class($size){
  @for $i from 1 through $total-columns{
    .#{$size}-#{$i}{
      width: percentage($i/$total-columns);
    }
  }
}

@for $i from 1 through $total-columns{
  [class*='medium-#{$i}'],
  [class*='large-#{$i}'] {
    width: 100%;
  }
}

body{
  @include respond-to(medium-up){
    @include grid-class(medium);
  }
  @include respond-to(large-up){
    @include grid-class(large);
  }
}

//[class*='medium-'],
//[class*='large-'] {
//  width: 100%;
//}

.medium-up-show {
  display: none;
  @include respond-to(medium-up){
    display: block;
  }
}

.medium-up-hide{
  @include respond-to(medium-up){
    display: none;
  }
}

//.row.large-gap{
//  margin: 0 -40px;
//  & > .col{
//    padding: 0 40px;
//  }
//  & > .col{
//    position: relative;
//    &:after{
//      border-left: $border;
//      border-left-style: dashed;
//      content: '';
//      display: block;
//      height: 100%;
//      position: absolute;
//      top: 0;
//      right: 0;
//    }
//    &:last-child:after{
//      display: none;
//    }
//  }
//}