table{
  background: $inverted-color;
  border: $border;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: center;
  width: 100%;
  th, td{
    padding: 10px 20px;
  }
  th{
    background: $basic-color-light;
    color: $inverted-color;
    font-weight: 500;
  }
  tr{
    &:nth-child(2n){
      background: transparentize($basic-color, .97);
    }
  }
}

/*----------------------------------------------------- cleaned -----------------------------------------------------*/


.payment-table{
  @extend .small;
  tr{
    th, td{
      border-right: $border-dark;
      padding: 5px 20px;
      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        border-right: none;
        padding-right: 0;
      }
    }
    th{
      width: 40%;
    }
  }
  .message{
    margin-top: 10px;
    margin-left: -20px;
  }
  .all{
    border-bottom: 3px solid $first-color;
    border-top: 3px solid $first-color;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    td, th{
      color: $first-color;
    }
  }
}
