footer{
  background: $first-color;
  color: $inverted-color;
  font-size: 16px;
  margin-top: 40px;
  padding: 20px 0 0;
  a, .bordered{
    border-bottom-color: transparentize($inverted-color, .8);
    @include respond-to(custom-not-touch){
      &:hover, &:focus, &:active{
        color: $inverted-color !important;
      }
    }
  }
  .col{
    margin-bottom: 10px;
    &:last-child{
      text-align: right;
    }
  }
  .top-line{
    margin-top: 0;
    margin-bottom: 10px;
    opacity: .7;
    .text-center{
      text-align: center !important;
      @include respond-to(custom-small-down){
        text-align: left !important;
      }
      a{
        display: inline-block;
        margin: 5px;
      }
    }
  }
}



.social-icons{
  @include clear-list;
  li{
    display: inline-block;
    &:not(:first-child){
      margin-left: 10px;
    }
  }
  [class*="-icon"]{
    //background: url(../img/social-icons.png) no-repeat;
    display: inline-block;
    height: 40px;
    opacity: .5;
    vertical-align: middle;
    width: 40px;
    //@include respond-to(custom-not-touch){
    //  &:hover, &:focus, &:active{
    //    opacity: 1;
    //  }
    //}
  }
  a{
    border-bottom: none;
  }
  .vk-icon{
    background-position: 0 0;
  }
  .fb-icon{
    background-position: -45px 0;
  }
  .ig-icon{
    background-position: -90px 0;
  }
  .youtube-icon{
    background-position: -135px 0;
  }
}

footer{

  //@include respond-to(custom-medium-down){
  //  a{
  //    border-bottom-color: transparentize($inverted-color, .5);
  //  }
  //}
  //
  //@include respond-to(custom-xsmall-down){
  //  .row-wrap{
  //    display: block;
  //  }
  //  .col{
  //    width: 100%;
  //    &:last-child{
  //      text-align: left;
  //    }
  //  }
  //}

}

